<!-- <div class="card">
  <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2" (click)="removeProduct(product)">Remove</button>

  <img class="card-img-top" src="{{product.image}}" alt="Card image" />
  <div class="card-body">
    <h4 class="card-title">{{product.album_name}}</h4>
    <p class="card-text"><b>Artist:</b> {{product.artist}}</p>
    <p class="card-text"><b>Genre:</b> {{product.genre}}</p>
    <p class="card-text">{{product.description}}</p>
    <p class="card-text"><b>Price: ${{product.price}}</b></p>
    <a href="#" class="btn btn-primary">See Vinyl</a>
  </div>
</div> -->
